.galery-container {
  .header {
    height: 50px;
    display: flex;
    background-color: #24cecd;
    align-items: center;
    justify-content: right;

    .add-outline {
      color: white;
      margin-right: 0.5em;
      font-size: 30px;
    }
  }
}

.galery {
  background-color: #cdfbfb;
}

.content {
  width: 100%;
  display: flex;
  justify-content: center;

  .card {
    width: 60%;

    p {
      text-align: center;
    }

    .foto{
      border-radius: 10px;
    }
  }
}

.footer {
  height: 50px;
  display: flex;
  background-color: #24cecd;
  align-items: center;
  justify-content: right;
}
