.profile-container {
  .header {
    height: 50px;
    display: flex;
    background-color: #24cecd;
    align-items: center;
    justify-content: left;

    .arrow-back-outline {
      color: white;
      margin-left: 0.5em;
      font-size: 30px;
    }
  }
}

.card-container {
  width: 100%;
  height: 100vh;
  background-color: #cdfbfb;

  .card {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .card-ion{
      width: 80%;
      text-align: center;
      border-radius: 10px;

      .foto{
        margin-top: 2em;
        width: 90%;
        border-radius: 10px;
      }
    }
  }
}

.footer {
  height: 50px;
  display: flex;
  background-color: #24cecd;
  align-items: center;
  justify-content: right;
}
