.profile-container {
  .header {
    height: 50px;
    display: flex;
    background-color: #24cecd;
    align-items: center;
    justify-content: left;

    .arrow-back-outline {
      color: white;
      margin-left: 0.5em;
      font-size: 30px;
    }
  }
}
