<ion-content class="login-container">
  <div class="card-container">
    <ion-card class="card">
      <ion-grid>
        <ion-row>
          <ion-col>
            <div class="logo-container">
              <ion-img class="logo" src="/assets/logo.png"></ion-img>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div class="inputs-container">
              <ion-input class="inputText" placeholder="Usuário"></ion-input>
            </div>
            <div class="inputs-container" style="margin-top: 1em;">
              <ion-input class="inputText" placeholder="Senha"></ion-input>
            </div>
            <div class="buttons">
              <div class="button-container">
                <button>Entrar</button>
              </div>
              <div class="button-container">
                <button class="button-save" routerLink="/registred">Cadastrar</button>
              </div>
            </div>
            <div class="request-password">
              <p>Esqueceu a sua senha? <button class="clique-aqui">Clique Aqui!</button></p>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </div>
</ion-content>
