<div class="cadastro-container">
  <div class="header">
    <ion-icon name="arrow-back-outline" class="arrow-back-outline" routerLink="/login"></ion-icon>
  </div>
  <div class="form-container">
    <ion-card class="card">
      <p style="font-size: 30px; text-align: center;">Cadastro</p>
    <form [formGroup]="forms">
      <ion-grid>
        <ion-row>
          <div class="camera-content">
            <ion-img class="camera" src="/assets/cam.png" alt=""></ion-img>
          </div>
          <ion-col size="12">
            <ion-input class="input-cadastro" placeholder="Nome Completo"></ion-input>
          </ion-col>
          <ion-col size="12">
            <ion-input class="input-cadastro" placeholder="E-mail"></ion-input>
          </ion-col>
          <ion-col size="6">
            <ion-input class="input-cadastro" placeholder="Senha"></ion-input>
          </ion-col>
          <ion-col size="6">
            <ion-input class="input-cadastro" placeholder="Confirma senha"></ion-input>
          </ion-col>
          <ion-col size="12">
            <ion-input class="input-cadastro" placeholder="CPF"></ion-input>
          </ion-col>
          <ion-col size="12">
            <ion-input class="input-cadastro" placeholder="Data nascimento"></ion-input>
          </ion-col>
          <ion-col size="12">
            <ion-input class="input-cadastro" placeholder="Endereço"></ion-input>
          </ion-col>
          <ion-col size="6">
            <ion-input class="input-cadastro" placeholder="Bairro"></ion-input>
          </ion-col>
          <ion-col size="6">
            <ion-input class="input-cadastro" placeholder="N°"></ion-input>
          </ion-col>
          <ion-col size="12">
            <ion-input class="input-cadastro" placeholder="Cidade"></ion-input>
          </ion-col>
          <ion-col size="12">
            <ion-input class="input-cadastro" placeholder="Celular"></ion-input>
          </ion-col>
          <ion-col size="12">
            <div class="button-container">
              <button>Salvar</button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
    </ion-card>
  </div>
</div>
